<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

    <title>Bloggor Admin</title>

	<link rel="stylesheet" href="/static/simple.min.css">
<style>
body {
	grid-template-columns: 1fr min(75rem, 90%) 1fr;
}

			.htmx-swapping {
				opacity: 0;
				transition: opacity 0.25s ease-out;
			}

	:root {
		--error: #d81b60;
		--small-border-radius: 2px;
	}

	label {
		font-weight: bold;
		margin: 0.5rem 0 0.225rem;
	}
</style>
		<script src="/static/htmx.min.js"></script>
		<script src="/static/htmx-response-targets.js"></script>
		<script>
			htmx.config.useTemplateFragments = true;
		</script>
  </head>

  <body hx-ext="response-targets">
		<header>
			<h1>Bloggor Admin</h1>
			<nav>
				<!-- <a href="/">🏠️ Homepage</a> -->
				<!-- <a href="/admin/articles">📰 Articles</a> -->
				<!-- <a href="/admin/users">👥 Users</a> -->
				<!-- <a href="/admin/tags">🏷️ Tags</a> -->
				<!-- <a href="/admin/types">📁 Types</a> -->
				<!-- <a href="/admin/settings">⚙️ Settings</a> -->
				<!-- <a href="/admin/logout">↩️ Logout</a> -->

				<ul>
					<li><a class="current" href="/">🏠️ Homepage</a></li>
					<li><a href="/admin/articles">📰 Articles</a></li>
					<li><a href="/admin/users">👥 Users</a></li>
					<li><a href="/admin/tags">🏷️ Tags</a></li>
					<li><a href="/admin/types">📁 Types</a></li>
					<li><a href="/admin/settings">⚙️ Settings</a></li>
					<li><a href="/admin/logout">↩️ Logout</a></li>
				</ul>
			</nav>
		</header>

		<main>
			{{embed}}
		</main>

		<footer>
			<div>Made with 🖤 using <a href="https://go.dev/" target="_blank">Go</a> + <a href="https://htmx.org/" target="_blank">HTMX</a>.</div>
			<div>&copy; 2024 Copyright <a href="https://nixpig.dev" target="_blank">@nixpig</a>. All rights reserved.</div>
		</footer>
  </body>
</html>
