<div class="admin__create">
  <h3>Create new user</h3>

  <div id="create-errors">
    <ul class="error-list">
      <span class="error-hook"></span>
    </ul>
  </div>

  <form name="create-user" 
    hx-post="/admin/users"
    hx-target="#user-table .tr.thead" 
    hx-target-5xx="#create-errors .error-hook" 
    hx-target-4xx="#create-errors .error-hook" 
    hx-swap="afterend swap:.25s" 
    hx-on::after-request=" if (event.detail.xhr.status <= 399) this.reset(); " 
    hx-on::before-request=" document.querySelectorAll('#user-errors .error-list li').forEach(e => e.remove()); "
  >

    <label for="name">
      Username
    </label>
    <div class="errors">
      <input type="text" id="username" name="username" placeholder="janedoe23" required>
      <div class="username-input"></div>
    </div>

    <label for="email">
      Email
    </label>
    <div class="errors">
      <input type="email" id="email" name="email" placeholder="janedoe@example.org" required>
      <div class="email-input"></div>
    </div>

    <label for="password">
      Password
    </label>
    <div class="errors">
      <input type="password" id="password" name="password" placeholder="********" required>
      <div class="password-input"></div>
    </div>

    <label for="link">
      Link
    </label>
    <div class="errors">
      <input type="url" id="link" name="link" placeholder="https://twitter.com/janedoe23">
      <div class="link-input"></div>
    </div>

    <label for="role">
      Role
    </label>
    <div class="errors">
      <select id="role" name="role">
	{{ range $role := .Roles }}
	  <option name="{{ $role }}">{{ $role }}</option>
	{{ end }}
      </select>
      <div class="role-input"></div>
    </div>

    <hr>

    <button type="submit">Create</button>
  </form>
</div>
