<div class="admin__table">
  <div id="admin-table-errors" class="admin__table-errors"></div>

  {{ if eq (len .Users) 0 }}
    <div id="no-users" class="notice">No users yet. You best go add some!</div>
  {{ end }}

  <div class="table" id="user-table" style="width: 100%;">
    <div class="tr thead">
      <div class="td">ID</div>
      <div class="td">Role</div>
      <div class="td">Username</div>
      <div class="td">Email</div>
      <div class="td">Link</div>
      <div class="td">Password</div>
      <div class="td td-actions">Actions</div>
    </div>

    {{ range $user := .Users }}
      {{ template "fragments/admin/users/user_table_row_view" $user }}
    {{ end }}
  </div>
</div>
