{{ if .Errors }}
	<div class="notice">
		<h4>❌ Errors adding user</h4>
		<p>
			The following errors were found. Please fix and try again.
		</p>

		<ul>
			{{ range $error := .Errors }}
				<li>{{ $error.Error }}</li>
			{{ end }}
		</ul>
	</div>
{{ end }}

