{{ if .CreatedUser }}
	<div class="notice">
		<h4>🚀 Successfully added user!</h4>
			<p>
				Added user {{ .CreatedUser.Username }} ({{ .CreatedUser.Email }}) as {{ .CreatedUser.Role }}.
			</p>
	</div>
{{ end }}
