<div id="article-table-errors" style="display: block;">
  <b>Errors:</b>
  {{ if .Errors }}
    <ul>
      {{ range $error := .Errors }}
	<li>{{ $error }}</li>
      {{ end }}
    </ul>
  {{ end }}
</div>
