{{ $article := .}}
<div class="tr tbody" id="article-table-row-{{ $article.Id }}">
  <div class="td" class="stretch">{{ $article.Id }}</div>
  <div class="td">{{ $article.Title }}</div>
  <div class="td">{{ $article.UserId }}</div>
  <div class="td">{{ $article.UpdatedAt }}</div>
  <div class="td">{{ $article.Type.Name }} [<code>{{ $article.Type.Slug }}</code> ({{ $article.Type.Id }})]</div>
  <div class="td td-actions">
    <a href="/admin/articles/{{ $article.Id }}?edit=true" class="button">Edit</a>
    <button hx-delete="/admin/articles/{{ $article.Id }}" hx-confirm="Are you sure?" hx-target="closest #article-table-row-{{ .Id }}" hx-swap="outerHTML swap:0.25s">Delete</button>
  </div>
</div>

