<div class="admin__table">
  <div id="admin-table-errors" class="admin__table-errors"></div>

  {{ if eq (len .Articles) 0 }}
    <div id="no-articles" class="notice">No articles yet. You best go add some!</div>
  {{ end }}

  <div class="table" id="article-table" style="width: 100%;">
    <div class="tr thead">
      <div class="td">ID</div>
      <div class="td">Title</div>
      <div class="td">Author</div>
      <div class="td">Updated</div>
      <div class="td td-actions">Actions</div>
    </div>

    {{ range $article := .Articles }}
      {{ template "fragments/admin/articles/article_table_row_view" $article }}
    {{ end }}
  </div>
</div>
