<style>
	.article-table {
		flex-grow: 1;
	}
  
	.stretch {
		width: 1%;
		white-space: nowrap;
	}

  .table {
    flex-grow: 1;
    align-items: start;
  }

  .table .tr {
    display: flex;
    border-bottom: 1px solid var(--border);
    align-items: center;
    justify-content: center;
  }

  .table .tr:nth-child(odd) {
    background-color: var(--bg);
  }

  .table .tr:nth-child(even) {
    background-color: var(--accent-bg);
  }

  .table .tr.thead .td {
    font-weight: bold;
  }

  .table .tr.thead.htmx-swapping {
    // background-color: var(--success);
  }

  .table .tr.tbody.htmx-swapping {
    opacity: 0;
    // background-color: var(--warning);
    transition: all 0.25s ease-in-out;
    max-height: 0;
  }

  .table .tr {
    opacity: 1;
    transition: all 0.25s ease-in-out;
    max-height: 300px;
  }

  .table .tr .td {
    flex: 1;
    padding: 0.5rem;
  }

  .table .tr .td input {
    width: 100%;
    margin: 0 0 0 -0.5rem;
  }

  .table .td.td-actions {
    display: flex;
    gap: 1rem;
    min-width: 180px;

    @media (max-width: 620px) {
      flex-direction: column;
      gap: 0;
      min-width: auto;
    }
  }

  #article-table-errors.htmx-swapping {
    height: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  #article-table-errors {
    color: var(--text);
    background-color: var(--error);
    border-radius: var(--standard-border-radius);
    padding: 0.225rem;
    margin-bottom: 1rem;
    max-height: 300px;
    opacity: 1;
    display: none;
    transition: all 0.25s ease-in-out;
  }

</style>

<div class="article-table">
  <div id="article-table-errors"></div>

  {{ if eq (len .Articles) 0 }}
    <div id="no-articles" class="notice">No articles yet. You best go add some!</div>
  {{ end }}

  <div class="table" id="article-table" style="width: 100%;">
    <div class="tr thead">
      <div class="td">ID</div>
      <div class="td">Title</div>
      <div class="td">Author</div>
      <div class="td">Updated</div>
      <div class="td td-actions">Actions</div>
    </div>

    {{ range $article := .Articles }}
      {{ template "fragments/admin/articles/article_table_row_view" $article }}
    {{ end }}
  </div>
</div>
