<div class="admin__create">
  <div id="create-errors">
    <ul class="error-list">
      <span class="error-hook"></span>
    </ul>
  </div>

  <form name="create-article" 
    {{ if .Article.Id }}
      hx-put="/admin/articles/{{ .Article.Id }}"
    {{ else }}
      hx-post="/admin/articles"
    {{ end }}
  >

    {{ if .Article.Id }}
      <input type="hidden" name="id" value="{{ .Article.Id }}">
    {{ end }}

    <label for="title">
      Title
    </label>
    <div class="errors">
      <input type="text" id="title" name="title" placeholder="Article title" required value="{{ .Article.Title }}">
      <div class="title-input"></div>
    </div>

    <label for="subtitle">
      Subtitle
    </label>
    <div class="errors">
      <input type="text" id="subtitle" name="subtitle" placeholder="Article subtitle" required value="{{ .Article.Subtitle }}">
      <div class="subtitle-input"></div>
    </div>

    <label for="slug">
      Slug 
    </label>
    <div class="errors">
      <input type="text" id="slug" name="slug" pattern="^[a-zA-Z0-9\-]+$" placeholder="article-slug" required value={{ .Article.Slug }}>
      <div class="slug-input"></div>
    </div>

    <label for="body">
      Content
    </label>
    <div class="errors">
      <textarea cols="75" name="body" id="body">{{ .Article.Body }}</textarea>
      <div class="body-input"></div>
    </div>


    <label for="created_at">
      Created at
    </label>
    <input type="text" name="created_at" id="created_at" value="{{ .Article.CreatedAt }}" readonly>

    <label for="last_updated">
      Last updated
    </label>
    <input type="text" id="last_updated" value="{{ .Article.UpdatedAt }}" disabled>

    <label for="type_id">
      Type ID ({{ .Article.Type.Name }} : {{ .Article.Type.Slug }})
    </label>
    <div class="errors">
      <input type="number" id="type_id" name="type_id" value="{{ .Article.TypeId }}" required>
      <div class="type-id-input"></div>
    </div>

    <label for="user_id">
      User ID
    </label>
    <div class="errors">
      <input type="number" id="user_id" name="user_id" value="{{ .Article.UserId }}" required>
      <div class="user-id-input"></div>
    </div>

    <label for="tag_ids">
      Tag IDs 
    </label>
    <div class="errors">
      <input type="number" id="tag_ids" name="tag_ids" value="{{ .Article.TagIds }}" required>
      <div class="tag-ids-input"></div>
    </div>

    <hr>

    <div style="display: flex; gap: 1rem;">
      <a href="/admin/articles" onclick="return confirm('This will delete any unsaved changes. Are you sure you want to continue?');" class="button">Cancel</a>
      <button type="submit">Publish {{ if .Editable }}changes{{ else }}article{{ end }}</button>
    </div>
  </form>
</div>
