{{ define "title" }}Tags{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
    <div>
      <a class="button" href="/admin/tags/new">+ New tag</a>
    </div>
  </div>

  {{ if .Message }}
    <div>
      <blockquote>
	{{ .Message }}
      </blockquote>
    </div>
  {{ end }}

  <table>
    <thead>
      <tr>
	<th>ID</th>
	<th>Name</th>
	<th>Slug</th>
      </tr>
    </thead>
    <tbody>
      {{ range $tag := .Tags }}
	<tr>
	  <td>{{ $tag.Id }}</td>
	  <td><a href="/admin/tags/{{ $tag.Slug }}">{{ $tag.Name}}</a></td>
	  <td>{{ $tag.Slug }}</td>
	</tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
