{{ define "title" }}Articles{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
    <div>
      <a class="button" href="/admin/articles/new">+ New article</a>
    </div>
  </div>

  <table>
    <thead>
      <tr>
	<th>ID</th>
	<th>Title</th>
	<th>Tags</th>
	<th>Last updated</th>
      </tr>
    </thead>
    <tbody>
      {{ range $article := .Articles }}
	<tr>
	  <td>{{ $article.Id }}</td>
	  <td><a href="/admin/articles/{{ $article.Slug }}">{{ $article.Title }}</a></td>
	  <td>
	    {{ range $tag := $article.Tags }}
	      <a href="/admin/tags/{{ $tag.Slug }}" class="tag">{{ $tag.Name }}</a>
	    {{ end }}
	  </td>
	  <td>{{ $article.UpdatedAt.Format "2006-01-02" }}</td>
	</tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
