{{ define "title" }}New tag{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
  </div>

  <form name="new-tag" method="POST" action="/admin/tags">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug">

    <br>
    <button type="submit">Create tag</button>
  </form>

{{ end }}
