
<h2>📰 Articles</h2>


<details>
	<summary>
		Publish new article
	</summary>

	<form name="create-article" hx-post="/admin/articles" >
		<label for="title">
			Title
		</label>
		<input type="text" id="title" name="title">

		<label for="subtitle">
			Subtitle
		</label>
		<input type="text" id="subtitle" name="subtitle">

		<label for="slug">
			Slug
		</label>
		<input type="text" id="slug" name="slug">

		<label for="body">
			Body
		</label>
		<textarea id="body" name="body" rows="15" style="font-family: monospace;"></textarea>

		<label for="type">
			Type
		</label>
		{{ $types := (call .Api.GetTypes) }}
		<select name="type_id" name="type">
			{{ range $type := $types }}
				<option value="{{ $type.Id }}">{{ $type.Name }}</option>

			{{ end }}
		</select>

		<label for="tags">
			Tags
		</label>
		{{ $tags := (call .Api.GetTags) }}
		<select name="tag_ids" id="tags">
			{{ range $tag := $tags }}
				<option value="{{ $tag.Id }}">{{ $tag.Name }}</option>
			{{ end }}
		</select>

		<label for="users">
			Users
		</label>
		{{ $users := (call .Api.GetUsers) }}
		<select name="user_id" id="users">
			{{ range $user := $users }}
				<option value="{{ $user.Id }}">{{ $user.Id }} - {{ $user.Username }}</option>
			{{ end }}
		</select>

		<hr>

		<button type="submit">Publish article</button>
	</form>
</details>


{{ $params := .Context.Queries }}
{{ $articles := (call .Api.GetArticles) }}

<button>Create</button>

{{ if $articles }}
	<figure>
		<table id="article-table" style="width: 100%;">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Subtitle</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Type</th>
					<th>User</th>
					<th>Tags</th>
					<th>Slug</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{{ range $article := $articles }}
					<tr id="article-table-row-{{ $article.Id }}">
						<td>{{ $article.Id }}</td>
						<td>{{ $article.Title }}</td>
						<td>{{ $article.Subtitle }}</td>
						<td>{{ $article.CreatedAt }}</td>
						<td>{{ $article.UpdatedAt }}</td>
						<td>{{ $article.TypeId }}</td>
						<td>{{ $article.UserId }}</td>
						<td>{{ $article.TagIds }}</td>
						<td>{{ $article.Slug }}</td>
						<td>
							<div style="display: flex; flex-direction: row; gap: 0.5rem; align-items: center;">
								<button>Edit</button>
								<a href="" style="color: var(--code);">Delete</a>
							</div>
						</td>
				{{ end }}
			</tbody>
		</table>
	</figure>
{{ else }}
	<div>No articles yet. You best go write some!</div>
{{ end }}
