{{ define "title" }}Edit article '{{ .Title }}'{{ end }}

{{ define "main" }}
  <hr>

  <form name="new_article" method="POST" action="/admin/articles/{{ .Slug }}">
    <input type="hidden" name="id" value="{{ .Id }}">

    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ .Title }}">

    <label for="subtitle">Subtitle</label>
    <input type="text" id="subtitle" name="subtitle" value="{{ .Subtitle }}">

    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" value="{{ .Slug }}">


    <label for="created_at">Created / Updated</label>
    <input disabled type="text" id="view_created_at" name="view_created_at" value="{{ .CreatedAt }}">
    <input type="hidden" id="created_at" name="created_at" value="{{ .CreatedAt }}">

    <input disabled type="text" id="updated_at" value="{{ .UpdatedAt }}">

    <label for="body">Article</label>
    <textarea id="body" name="body">{{ .Body }}</textarea>
    


    <label for="tags">Tags</label>
    <select id="tags" name="tags[]" multiple>
      {{ range $tagId, $tagName := .Tags }}
	<option 
	  value="{{ $tagId }}"
	  {{ range $articleTag := $.Tags }}
	    {{ if eq $tagId $articleTag.Id }}
	      selected
	    {{ end }}
	  {{ end }}
	>
	  {{ $tagName }}
	</option>
      {{ end }}
    </select>

    <div>
      <button type="submit">Update article</button>
    </div>
  </form>

{{ end }}
