{{ define "title" }}Articles{{ end }}

{{ define "main" }}
  <div style="display: flex; align-items: flex-end;">
    <h1 style="flex-grow: 1;">{{ template "title" . }}</h1>
    <div>
      <a class="button" href="/admin/articles/new">+ New article</a>
    </div>
  </div>

  <hr>

  <table>
    <thead>
      <tr>
	<th>ID</th>
	<th>Title</th>
	<th>Tags</th>
	<th>Last updated</th>
      </tr>
    </thead>
    <tbody>
      {{ range $article := .Articles }}
	<tr>
	  <td>{{ $article.Id }}</td>
	  <td><a href="/admin/articles/{{ $article.Slug }}">{{ $article.Title }}</a></td>
	  <td>
	    {{ range $index, $tag := $article.Tags -}}
	      {{ if ne $index 0 -}},{{- end }}
	      <a href="/admin/tags/{{ $tag.Slug }}">{{ $tag.Name }}</a>
	    {{- end }}
	  </td>
	  <td>{{ $article.UpdatedAt.Format "2006-01-02" }}</td>
	</tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
