<h2>
	📰 
	{{ if .Editable }}
		Edit article
	{{ else if .New }}
		New article
	{{ else }}
		Articles
	{{ end }}
</h2>

<div class="admin__layout--two-col">
	{{ if or .Editable .New }}
		{{ template "fragments/admin/articles/article_edit" . }}

	{{ else }}
		{{ template "fragments/admin/articles/article_table" . }}
	{{ end }}

	<!-- {{ template "fragments/admin/articles/article_create" }} -->
</div>
