<h2>🔐 Login</h2>

<div class="admin__layout">

	<div class="login_form">
		<form
				name="login"
				method="post"
				hx-post="/login"
		>
			<label for="username">Username</label>
			<input type="text" id="username" name="username">

			<label for="password">Password</label>
			<input type="password" id="password" name="password">

			<hr>

			<button type="submit">Login</button>

		</form>


	</div>

</div>
