{{ define "title" }}
  Login
{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
  </div>

  {{ if .Message }}
    <div class="message message--error">
      {{ .Message }}
    </div>
  {{ end }}

  <form name="user-login" method="POST" action="/admin/login">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">

    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <br>
    <button type="submit">Login</button>

  </form>
{{ end }}

