{{ define "title" }}
  Login
{{ end }}

{{ define "main" }}
  <div style="display: flex; align-items: flex-end;">
    <h1 style="flex-grow: 1;">{{ template "title" . }}</h1>
  </div>

  <hr>

  {{ if .Message }}
    <div>
      <blockquote>
	{{ .Message }}
      </blockquote>
    </div>
  {{ end }}

  <form name="user-login" method="POST" action="/admin/login">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <br>
    <button type="submit">Login</button>

  </form>
{{ end }}

