{{ define "title" }}
  Edit tag '{{ .Name }}'
{{ end }}

{{ define "main" }}
  <div style="display: flex; align-items: flex-end;">
    <h1 style="flex-grow: 1;">{{ template "title" . }}</h1>
  </div>

  <hr>

  <form name="edit-tag" method="POST">
    <input type="hidden" name="id" value="{{ .Id }}">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{ .Name }}">

    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" value="{{ .Slug }}">

    <br>
    <button type="submit">Update tag</button>
  </form>

  <form name="delete-tag" method="POST" action="/admin/tags/{{ .Slug }}/delete">
    <input type="hidden" name="id" value="{{ .Id }}">
    <input type="hidden" name="name" value="{{ .Name }}">

    <button type="submit">Delete tag</button>
  </form>

{{ end }}
