<style>
	.tag-layout {
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		gap: 2rem;

		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}
</style>

<h2>🏷️ Tags</h2>

<div class="tag-layout">
	{{ template "fragments/admin/tags/tag_table" . }}

	{{ template "fragments/admin/tags/tag_create" }}
</div>
