<h2>📂 Types</h2>

<p>Description of what types are and how templates work.</p>

<details>
	<summary>
		Add type
	</summary>

	<form name="create-type" hx-post="/admin/types" >
		<label for="name">
			Type name
		</label>
		<input type="text" id="name" name="name">

		<label for="template">
			Template
		</label>
		<input type="text" id="template" name="template">

		<label for="slug">
			Slug
		</label>
		<input type="text" id="slug" name="slug">

		<hr>

		<button type="submit">Add type</button>
	</form>
</details>


<h3>All types</h3>
{{ $params := .Context.Queries }}
{{ $types := (call .Api.GetTypes)}}

{{ if $types }}
	<table id="type-table" style="width: 100%;">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Template</th>
				<th>Slug</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			{{ range $type := $types }}
				<tr id="type-table-row-{{ $type.Id }}">
					<td>{{ $type.Id }}</td>
					<td>{{ $type.Name }}</td>
					<td>{{ $type.Template }}</td>
					<td>{{ $type.Slug }}</td>
					<td>DELETE</td>
			{{ end }}
		</tbody>
	</table>
{{ else }}
	<div>No types yet. You best go add some!</div>
{{ end }}
