<h2>👥 Users</h2>

<p>Description of users and roles.</p>

<div id="add-user-result"></div>

<div id="add-user-form">
	{{ template "fragments/admin/user/add_user_form" . }}
</div>


<h3>All users</h3>
{{ $params := .Context.Queries }}
{{ $users := (call .Api.GetUsers)}}

{{ if $users }}
	<figure>
		<table id="user-table" style="width: 100%;">
			<thead>
				<tr>
					<th>ID</th>
					<th>Role</th>
					<th>Username</th>
					<th>Email</th>
					<th>Link</th>
					<th>Password</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{{ range $user := $users }}
					{{ if and ($params.edit) (call $.IsEditable $user.Id $params.edit)}}
						<tr id="user-table-row-{{ $user.Id }}">
								<form name="update-user" hx-put="/admin/users">
									<td>
										<input type="hidden" id="update-id" name="id" value="{{ $user.Id }}">
										{{ $user.Id }}
									</td>

									<td>
										<input type="hidden" id="update-role" name="role" value="{{ $user.Role }}">
										{{ $user.Role }}
									</td>

									<td>
										<input type="text" id="update-username" name="username" value="{{ $user.Username }}">
									</td>

									<td>
										<input type="text" id="update-email" name="email" value="{{ $user.Email }}">
									</td>

									<td>
										<input type="text" id="update-link" name="link" value="{{ $user.Link }}">
									</td>

									<td>
										<a href="#">Reset</a>
									</td>

								<td style="display: flex; flex-direction: row; gap: 0.25rem;">
										<button type="submit">Save</button>
								</form>

									<form name="action-buttons" method="get">
										<button type="submit">Cancel</button>
									</form>
								</td>
							</tr>
					{{ else }}
						<tr id="user-table-row-{{ $user.Id }}" {{ if and ($.CreatedUser) (eq $.CreatedUser.Id $user.Id)}} style="font-weight: bold;" {{ end }}>
							<td>{{ $user.Id }}</td>
							<td>{{ $user.Role }}</td>
							<td>{{ $user.Username }}</td>
							<td>{{ $user.Email }}</td>
							<td><a href="{{ $user.Link }}" target="_blank">{{ $user.Link }}</a></td>
							<td><code>********</code></td>
							<td style="display: flex; flex-direction: row; gap: 0.25rem; width: 100%;">
								<form name="edit-action-button" method="get">
									<input type=hidden name="edit" value="{{ $user.Id }}">
									<button type="submit">Edit</button>
								</form>
								<form name="delete-action-button" hx-delete="/admin/users" hx-target="#user-table-row-{{ $user.Id }}">
									<input type=hidden name="delete" value="{{ $user.Id }}">
									<button type="submit">Delete</button>
								</form>
							</td>
						</tr>
					{{ end }}
				{{ end }}
			</tbody>
		</table>
	</figure>
{{ else }}
	<div>No users yet. You best go add some!</div>
{{ end }}
