{{ define "title" }}Users{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
    <div>
      <a class="button" href="/admin/users/new">+ New user</a>
    </div>
  </div>

  {{ if .Message }}
    <div class="message message--success">
      {{ .Message }}
    </div>
    {{ end }}

  <table>
    <thead>
      <tr>
	<th>ID</th>
	<th>Username</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{ range $user := .Users }}
	<tr>
	  <td>{{ $user.Id }}</td>
	  <td><a href="/admin/users/{{ $user.Username }}">{{ $user.Username }}</a></td>
	  <td>{{ $user.Email }}</td>
	</tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}
