{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <title>{{ template "title" . }} - Dunce Admin</title>
    <style>
      body {}
    </style>
  </head>

  <body>
      <header style="">
	<div style="display: flex; align-items: center; ">
	  <div>
	    <a href="/" style="font-size: 3rem; font-weight: bold;">nixpig.dev</a>
	  </div>
	  <nav style="flex-grow: 1; text-align: right;">
	    <ul style="margin: 0;">
	      <li style="display: inline;"><a href="/admin">Admin</a></li>
	      |
	      <li style="display: inline;"><a href="/admin/articles">Articles</a></li>
	      |
	      <li style="display: inline;"><a href="/admin/tags">Tags</a></li>
	      |
	      <li style="display: inline;"><a href="/admin/users">Users</a></li>
	      |
	      {{ if eq "true" "false" }}
		<li style="display: inline;">
		  <form style="display: inline;" action="/admin/logout" method="POST">
		    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
		    <button type="submit">Logout</button>
		  </form>
		</li>
	      {{ end }}

	    </ul>
	  </nav>
	</div>
      </header>

      <main>
	    {{ template "main" . }}
      </main>

      <footer style="margin-top: 20px; padding: 10px 0; border-top: 1px solid; display: flex;">
	      <div>&copy; 2024 Copyright <a href="https://nixpig.dev" target="_blank">@nixpig</a>. All rights reserved.</div>
	      <div style="flex-grow: 1; text-align: right;">🐽</div>
      </footer>
  </body>
</html>
{{ end }}
