{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">

    <title>Dunce Public</title>
    <style>
      body {}
    </style>
  </head>

  <body>
      <header>
	<h1>{{ template "title" . }} - Dunce Public</h1>
	<nav>
	  <ul>
	    <li style="display: inline;"><a href="/admin">Admin</a></li>
	    <li style="display: inline;"><a href="/admin/articles">Articles</a></li>
	    <li style="display: inline;"><a href="/admin/tags">Tags</a></li>
	  </ul>
	</nav>
      </header>
      

      <main>
	      {{ template "main" . }}
      </main>

      <footer>
	      <div>&copy; 2024 Copyright <a href="https://nixpig.dev" target="_blank">@nixpig</a>. All rights reserved.</div>
      </footer>
  </body>
</html>
{{ end }}
