{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">

    <title>{{ template "title" . }} - Dunce Admin</title>
    <style>
      body {}
    </style>
  </head>

  <body>
      <header style="">
	<nav style="flex-grow: 1; text-align: right; justify-content: center; align-items: center; align-content: center;">
	  <ul>
	    <li style="display: inline;"><a href="/admin">Admin</a></li>
	    |
	    <li style="display: inline;"><a href="/admin/articles">Articles</a></li>
	    |
	    <li style="display: inline;"><a href="/admin/tags">Tags</a></li>
	  </ul>
	</nav>
	<h1 style="">{{ template "title" . }}</h1>
      </header>
      
      <hr>

      <main>
	      {{ template "main" . }}
      </main>

      <footer style="margin-top: 20px; padding: 10px 0; border-top: 1px solid; display: flex;">
	      <div>&copy; 2024 Copyright <a href="https://nixpig.dev" target="_blank">@nixpig</a>. All rights reserved.</div>
	      <div style="flex-grow: 1; text-align: right;">🐽</div>
      </footer>
  </body>
</html>
{{ end }}
