<h1>{{ .Title }}</h1>

{{ $articles := (call .Api.GetArticles) }}
{{ if $articles }}
  <ul>
    {{ range $article := $articles }}
      <li><a href="/{{ $article.TypeName }}/{{ $article.Slug }}">{{ $article.Title }} - {{ $article.UpdatedAt }}</a></li>
    {{ end }}
  </ul>
{{ end }}
