{{ define "title" }}Tag: {{ .Tag.Name }}{{ end }}

{{ define "main" }}
  <h1>{{ template "title" . }}</h1>

  <p>Articles tagged <a href="/tags/{{ .Tag.Slug }}" class="tag">{{ .Tag.Name }}</a>.

  <table>
    <thead>
      <th>Article title</th>
      <th style="text-align: right;">Published date</th>
    </thead>
    <tbody>
      {{ range $article := .Articles }}
        <tr>
          <td>
            <a href="/articles/{{ $article.Slug }}">{{ $article.Title }}</a>
          </td>
          <td style="text-align: right;">
            {{ $article.CreatedAt.Format "2006-01-02"}}
          </td>
      {{ end }}
    </tbody>
  </table>


{{ end }}
