{{ define "title" }}nixpig.dev{{ end }}

{{ define "main" }}

  <h1>Articles</h1>

  <table>
    <thead>
      <th>Article title</th>
      <th style="text-align: right;">Published date</th>
    </thead>
    <tbody>
      {{ range $article := .Articles }}
        <tr>
          <td>
            <a href="/articles/{{ $article.Slug }}">{{ $article.Title }}</a>
          </td>
          <td style="text-align: right;">
            {{ $article.CreatedAt.Format "2006-01-02"}}
          </td>
      {{ end }}
    </tbody>
  </table>

{{ end }}
