{{ define "title" }}{{ .Article.Title }}{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
  </div>

  <div class="article-header__meta">
    <div class="article-header__dates">
      <b>Published</b> {{ .Article.CreatedAt.Format "2006-01-02"  }} &bull; <b>Updated</b> {{ .Article.UpdatedAt.Format "2006-01-02" }}
    </div>

    <div class="article-header__tags">
      {{ range $tag := .Article.Tags -}}
          <a href="/tags/{{ $tag.Slug }}" class="tag">{{ $tag.Name }}</a>
      {{ end }}
    </div>
  </div>

  <div>
    {{ .Content }}
  </div>

{{ end }}
