<style>
	.type-create {
		background-color: var(--accent-bg);
		margin: 1.5rem 0;
		
		border: 1px solid var(--border);
		padding: 1rem;
	}

	.type-create h3 {
		margin-top: 0;
	}

	.type-create input+div {
    opacity: 0;
    max-height: 0;
    transition: all 0.25s ease-in-out;
	}

	.type-create .errors input:user-invalid+div {
		color: var(--text);
		background-color: var(--error);
		border-radius: var(--standard-border-radius);
		padding: 0.225rem;
		margin-bottom: 1rem;
    max-height: 300px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
	}

	.errors input#name:user-invalid:placeholder-shown+div::after {
		content: "Type name is required";
	}

  .errors input#template:user-invalid:placeholder-shown+div::after {
    content: "Template path is required"
  }

	.errors input#slug:user-invalid:placeholder-shown+div::after {
		content: "Slug is required";
	}

	.errors input#slug:user-invalid+div::after {
		content: "Slug is invalid"
	}

  #type-errors {
    max-height: 500px;
    overflow: hidden;
    opacity: 1;
    transition: all .25s ease-in-out;
  }

  #type-errors:has(.htmx-swapping) {
    max-height: 0;
    opacity: 0;
    transition: all .25s ease-in-out;
  }

  .error-list li {
		color: var(--text);
		background-color: var(--error);
		border: 1px dashed var(--error);
		border-radius: var(--standard-border-radius);
		padding: 0.225rem 0.5rem;
		display: block;
		margin-bottom: 1rem;
  }

  ul.error-list {
    padding: 0;
    margin: 0;
  }
</style>

<div class="type-create">
  <h3>Create new type</h3>

  <div id="type-errors">
    <ul class="error-list">
      <span class="error-hook"></span>
    </ul>
  </div>

  <form name="create-type" 
    hx-post="/admin/types"
    hx-target="#type-table .tr.thead" 
    hx-target-5xx="#type-errors .error-hook" 
    hx-target-4xx="#type-errors .error-hook" 
    hx-swap="afterend swap:.25s" 
    hx-on::after-request=" if (event.detail.xhr.status <= 399) this.reset(); " 
    hx-on::before-request=" document.querySelectorAll('#type-errors .error-list li').forEach(e => e.remove()); "
  >

    <label for="name">
      Type name
    </label>
    <div class="errors">
      <input type="text" id="name" name="name" placeholder="Tag Name" required>
      <div class="name-input"></div>
    </div>

    <label for="template">
      Template path
    </label>
    <div class="errors">
      <input type="text" id="template" name="template" placeholder="Template path" required>
      <div class="template-input"></div>
    </div>

    <label for="slug">
      Slug
    </label>
    <div class="errors">
      <input type="text" id="slug" name="slug" pattern="^[a-zA-Z0-9\-]+$" placeholder="tag-slug" required>
      <div class="slug-input"></div>
    </div>

    <hr>

    <button type="submit">Create</button>
  </form>
</div>
