<div class="admin__table">
  <div id="admin-table-errors" class="admin__table-errors"></div>

  {{ if eq (len .Types) 0 }}
    <div id="no-types" class="notice">No types yet. You best go add some!</div>
  {{ end }}

  <div class="table" id="type-table" style="width: 100%;">
    <div class="tr thead">
      <div class="td">ID</div>
      <div class="td">Name</div>
      <div class="td">Template</div>
      <div class="td">Slug</div>
      <div class="td td-actions">Actions</div>
    </div>

    {{ range $type := .Types }}
      {{ template "fragments/admin/types/type_table_row_view" $type }}
    {{ end }}
  </div>
</div>
