<div class="admin__table">
  <div id="admin-table-errors" class="admin__table-errors"></div>

  {{ if eq (len .Tags) 0 }}
    <div id="no-tags" class="notice">No tags yet. You best go add some!</div>
  {{ end }}

  <div class="table" id="tag-table" style="width: 100%;">
    <div class="tr thead">
      <div class="td">ID</div>
      <div class="td">Name</div>
      <div class="td">Slug</div>
      <div class="td td-actions">Actions</div>
    </div>

    {{ range $tag := .Tags }}
      {{ template "fragments/admin/tags/tag_table_row_view" $tag }}
    {{ end }}
  </div>
</div>
