<div class="admin__create">
  <h3>Create new tag</h3>

  <div id="create-errors">
    <ul class="error-list">
      <span class="error-hook"></span>
    </ul>
  </div>

  <form name="create-tag" 
    hx-post="/admin/tags"
    hx-target="#tag-table .tr.thead" 
    hx-target-5xx="#create-errors .error-hook" 
    hx-target-4xx="#create-errors .error-hook" 
    hx-swap="afterend swap:.25s" 
    hx-on::after-request=" if (event.detail.xhr.status <= 399) this.reset(); " 
    hx-on::before-request=" document.querySelectorAll('#tag-errors .error-list li').forEach(e => e.remove()); "
  >

    <label for="name">
      Tag name
    </label>
    <div class="errors">
      <input type="text" id="name" name="name" placeholder="Tag Name" required>
      <div class="name-input"></div>
    </div>

    <label for="slug">
      Slug
    </label>
    <div class="errors">
      <input type="text" id="slug" name="slug" pattern="^[a-zA-Z0-9\-]+$" placeholder="tag-slug" required>
      <div class="slug-input"></div>
    </div>

    <hr>

    <button type="submit">Create</button>
  </form>
</div>
