<form 
  name="update-tag" 
  hx-put="/admin/tags/{{ .Id }}" 
  hx-target="#tag-table-row-{{ .Id }}" 
  hx-target-5xx="#admin-table-errors"
  hx-target-4xx="#admin-table-errors"
  hx-swap="outerHTML swap:0.25s"
  hx-on::before-request="const t = document.getElementById('admin-table-errors'); t.innerHTML = ''; t.style.maxHeight = '0px'; t.style.padding = '0px';"
>
  <div class="tr tbody tag-update" id="tag-table-row-{{ .Id }}">
      <div class="td">
        <input type="hidden" name="id" value="{{ .Id }}">
        {{ .Id }}
      </div>

      <div class="td">
        <div class="errors">
          <input id="name" type="text" name="name" value="{{ .Name }}" placeholder="Tag Name" required>
          <div class="name-input"></div>
        </div>
      </div>

      <div class="td">
        <div class="errors">
          <input id="slug" type="text" name="slug" value="{{ .Slug }}" placeholder="tag-slug" required>
          <div class="slug-input"></div>
        </div>
      </div>

      <div class="td td-actions">
        <button type="submit">Save</button>
        <button hx-get="/admin/tags/{{ .Id }}" hx-target="closest #tag-table-row-{{ .Id }}" hx-swap="outerHTML swap:0.25s">Cancel</button>
      </div>
  </tr>
</form>

