{{ define "title" }}{{ .Title }}{{ end }}

{{ define "main" }}
  <div class="hero">
    <h1>{{ template "title" . }}</h1>
  </div>

  <div class="message message--error">
    {{ .Message }}
  </div>
{{ end }}
